/*
Theme Name: Bulk Child
Theme URI: https://themes4wp.com/theme/bulk/
Author: Themes4WP
Author URI: https://themes4wp.com/
Template: bulk
Description: Bulk is a modern and responsive multipurpose WordPress theme, perfect for Business websites, Landing pages, E-commerces, Portfolios, Photography and Creative sites, One Pagers... and more. Developed for the Elementor drag and drop page builder, you can use Bulk to build any type of website. Bulk is fully responsive, and WooCommerce, RTL and translation ready. Demo: http://bulk.themes4wp.com/
Version: 1.0.6
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-menu, featured-images, theme-options, translation-ready, custom-logo, photography, threaded-comments, e-commerce, portfolio
Text Domain: bulk
*/

/* The bootstrap.css file is auto-enqueued in functions.php */

/* WordPress Core */
.gallery-caption {
    font-weight: bold;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
img.alignnone {
    max-width: 96%;
    height: auto;
    width: auto;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 10px 0 0 0;
    color: #000;
}
/* Recommended CSS from WP for defined content width support */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
iframe,
embed {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.sticky,
.bypostauthor {}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
th { 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
body, html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto Condensed', "Helvetica Neue", helvetica, arial, sans-serif;
    padding: 0;
    color: #404040;
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
    word-wrap: break-word;
    overflow-x: hidden;
}
a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: #0090ff;
}
ul, ol {
    padding-left: 20px;
}
article a {
    border-bottom: 1px dotted #777777;
    font-weight: bold;
}
.page-header a {
    border-bottom: 0;
    color: #000;
}
a:active {
    border-bottom: none;
}
.page-area {
    padding-top: 70px;
}
.main-container {
    background-color: #fff;
    margin-top: -30px;
    z-index: 9;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 0px;
}
.homepage-row.row {
    margin: 0;
    padding: 0;
    background: #fff;
    color: black;
}
.transparent-header .page-area {
    padding-top: 0 !important;
}
.admin-bar #site-navigation.shrink {
    top: 32px;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .shrink .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    .navbar-nav li:hover .dropdown-menu{
        visibility:visible;
        border-top: 4px solid #ccc;
        border-radius: 0;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    #site-navigation .container{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    .navbar-nav a:hover, .navbar-nav a:focus {
        color: #ffffff !important;
        background-color: #000 !important;
    }
    .menu-container {
        width: 70%;
        position: fixed;
        left: 0;
        height: 100%;
        transform: translate3d(-100%, 0, 0);
        overflow-y: auto;
        overflow-x: auto;
        background-color: #fff;
    }
    .navbar-brand {
        padding-right: 55px !important;
    }
    .openNav .menu-container {
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
    }
    .openNav .page-area {
        left: 0;
        transform: translate3d(70%, 0, 0);
        transition: transform 500ms ease;
    }
    .page-area {
        left: 0;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
    }
    .navbar-nav {
        padding: 0;
        margin: 0;
    }
    .navbar-nav a {
        font-size: 16px;
        padding: 12px 10px !important;
        margin: 0 !important;
        line-height: 16px !important;
        float: left !important;
        margin: 0px !important;
        width: 100%;
        text-transform: none !important;
        word-wrap: break-word;
        white-space: normal !important;
    }
    .navbar-nav li, .navbar-nav ul {
        padding: 0px !important;
        margin: 0px !important;
    }
    .open-panel {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 25px;
        right: 22px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 2;
    }
    .shrink .open-panel {
        top: 14px;
    }
    .open-panel span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .open-panel span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel span:nth-child(2) {
        top: 9px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel span:nth-child(3) {
        top: 18px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .open-panel.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        left: 3px;
    }
    .open-panel.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .open-panel.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 3px;
    }
    .caret, .dropdown-submenu>a:after {
        display: none !important; 
    }
    .navbar-nav .dropdown-menu {
        width: 100%;
        display: block !important;
        left: 0 !important;
        position: relative !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .openNav .page-area:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.45);
        left: 0;
    }
    .openNav.transparent-header #site-navigation .navbar-nav > li > a {
        color: #777;
    }
}
.dropdown-menu > li > a {
    border-bottom: 0;
}
#site-navigation {
    min-height: 70px;
}
.navbar-collapse {
    padding-left: 30px;
    padding-right: 30px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-toggle {
    border: 1px solid #ccc;
}
.navbar-toggle .icon-bar {
    background-color: #ccc;
}
.navbar-nav > li > a {
    border-bottom: 0;
    text-transform: uppercase;
}
article {
    clear: both;
    float: left;
    margin-bottom: 60px;
    width: 100%;
}
.updated:not(.published) {
    display: none;
}
.space-right {
    margin-right: 5px;
}
.main-content {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.page-header {
    margin: 0;
    border: none;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.post-meta {
    color: #fff;
}
.main-content .post-meta {
    color: #000;
}
.top-header {
    position: relative;
    min-height: 450px;
    background-color: #3c3c3c;
}
.header-title {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #000;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}
.archive-page-header {
    background-color: #848484;
    color: #fff;
    padding: 100px 20px 120px 20px;
}
.archive-page-header h1 {
    margin: 0;
}
.single-entry-summary {
    margin-top: 25px;
    margin-bottom: 15px;
}
.single-content.row {
    margin-bottom: 60px;
}
input, textarea {
    background-color: #fff;
    padding: 6px;
    color: #464a4c;
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
}
select {
    max-width: 100%;
    padding: 5px;
    color: #000;
}
label {
    width: 100%;
}
#sidebar {
    display: inline-block;
    max-width: 100%;
    padding-top: 15px;
}
.widget {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 20px;
}
h3.widget-title {
    margin-top: 5px;
}
h1.site-title, .site-title {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 28px;
}
p.site-description {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-branding-logo {
    float: left;
}
.site-branding-logo a {
    border: none;
    z-index: 9999;
    position: relative;
}
.site-branding-logo img {

    /*  Change the default value of 70px to any value you prefer to change logo size */
    max-height: 120px;
    width: auto;
    padding-right: 10px;
}
.navbar-brand {
    padding: 10px 15px;
    height: auto;
    z-index: 99999;
    position: relative;
    z-index: 1;
}
.navbar {
    margin-bottom: 0;
}
.main-menu {
    position: relative;
}

.navbar-fixed-top {
    position: absolute;
}
.navbar-fixed-top.shrink {
    position: fixed;
}
#site-navigation,
#site-navigation.shrink,
.transparent-header #site-navigation.shrink {
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border: none;
    background-color:#d1e7fb;
    background-image:url('images/bk_menu05.jpg');
    background-repeat:no-repeat;
    background-position: center; 
}
.transparent-header #site-navigation.shrink .site-title a, 
.transparent-header #site-navigation.shrink .site-title a:hover, 
.transparent-header #site-navigation.shrink p.site-description, 
.transparent-header #site-navigation.shrink .navbar-nav > li > a  { 
    color: #777777; 
}
.transparent-header #site-navigation {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#site-navigation, nav a, nav img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #000;
}
.shrink .site-branding-logo img {
    max-height: 50px;
}
#site-navigation.shrink {
    min-height: 50px;
}
.shrink h1.site-title, .shrink .site-title {
    font-size: 19px;
    line-height: 23px;
}
.shrink p.site-description {
    font-size: 12px;
    line-height: 15px;
}
.shrink .navbar-brand {
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.featured-thumbnail {
    padding:20px;
    width: 100%;
    float: left;
    text-align: center;
}
.featured-thumbnail img{
    border: 0;
    padding:10px;
    max-height: 300px;
    max-width: 500px;
    height:100%;
    width:100%;
    webkit-box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 28px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.single-image {
    max-height: 450px;
    overflow: hidden;
    position: relative;
    height: 450px;
}
.single-image img {
    position: absolute;
    height: auto;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    width: auto;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.single-image:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}
nav.navigation.pagination {
    text-align: center;
    width: 100%;
    clear: both;
    margin: 20px 0;
}
nav.navigation.pagination .nav-links a, nav.navigation.pagination .current {
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}
nav.navigation.pagination .current {
    background-color: rgba(0, 0, 0, 0.64);
    color: #fff;
}
.homepage-row #content-footer-section,
.elementor-page .footer-credits,
.page-template-template-homepage .footer-credits {
    margin: 0;
    clear: both;
}
.footer-credits {
    border-top: 1px solid #ccc;
    padding: 15px;
    clear: both;
    margin-top: 20px;
    background-color: #ffffff;
}

/* Comments */
.comment-form #comment, .comment-form #submit {
    width: 100%;
}

cite.fn {
    font-weight: bold;
}
a.comment-reply-link {
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.reply {
    margin: 20px 0;
}
.comment-meta.commentmetadata {
    margin: 10px 0;
    font-size: 12px;
    font-style: italic;
}
.comment-body {
    margin-bottom: 40px;
}
.commentlist li {
    list-style-type: none;
}
img.lazy {
    opacity: 0;
    transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
}
.error-template {
    padding-bottom: 60px;
}
.btn-default, input[type="submit"], input#submit, button, a.comment-reply-link { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #8e8e8e;
}
input#submit:hover, .btn-default:hover, input[type="submit"]:hover, button:hover, a.comment-reply-link:hover { 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
/* WooCommerce */
.woocommerce .woocommerce-breadcrumb {
    margin: 15px 0;
}
.woocommerce .woocommerce-ordering select {
    color: #000;
}
/* WooCommerce Buttons */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    padding: 8px 16px;
    border: 1px solid;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-radius: 0;
    background-color: transparent;
    color: #222222;
    font-weight: 300;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: transparent;
    opacity: 0.8;
    color: #222222;
}
.woocommerce ul.products li.product .button {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000;
    white-space: normal;
}

/* WooCommerce Products */
.woocommerce ul.products li.product h3 {
    font-size: 16px;
    color: inherit;
}
.woocommerce ul.products li.product .star-rating, .woocommerce .star-rating span {
    color: #000;
}
.woocommerce .products .star-rating {
    margin: 0 auto;
    margin-bottom: 10px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    margin-bottom: 1.992em;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    color: #000;
}
.woocommerce ul.products li.product a img {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
}
.woocommerce ul.products li.product:hover, .woocommerce-page ul.products li.product:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 18px;
}
.woocommerce ul.products li.product .price del, .woocommerce div.product p.price del {
    font-size: 80%;
    display: inline-block;
}
.woocommerce span.onsale {
    top: 0;
    left: 0;
    border-radius: 0; 
    background-color: #000;
}
.woocommerce ul.products li.product .onsale {
    margin: 0;
    top: 8px;
    padding: 6px 10px;
    min-height: 20px;
    line-height: 1.2;
    min-width: 30px;
}
.woocommerce div.product div.summary {
    margin-top: 1em;
}
.woocommerce div.product form.cart .variations label {
    margin-bottom: 0;
}
.woocommerce-variation-price {
    margin-bottom: 10px;
}
.woocommerce .quantity .qty {
    height: 32px;
    margin-right: 10px;
}
.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid rgba(138, 138, 138, 0.4);
    border-bottom: 1px solid rgba(138, 138, 138, 0.4);
}
.woocommerce .product_meta {
    margin-top: 10px;
    clear: both;
}
.woocommerce .product_meta .sku_wrapper, .woocommerce .product_meta .posted_in, .woocommerce .product_meta .tagged_as {
    display: block;
    font-weight: bold;
    padding: 5px 0 2px 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: transparent;
    border-bottom-color: transparent;
    padding: 0 20px 0 10px;
    color: #FFFFFF;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
    border: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #000;
    z-index: -1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
    border: 0;
    box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs .panel {
    background: transparent;
}
#add_payment_method #payment, .woocommerce-checkout #payment {
    background: transparent;
    background: rgba(148, 148, 148, 0.2);
}
.woocommerce a.added_to_cart {
    display: block;
    padding: 5px;
}
/* WooCommerce categories */
#flex-carousel-woo-cat-carousel ul.products {
    margin-left: 0;
    padding-left: 0;
}
.woo-categories-section ul.products li.first {
    clear: none;
}
.woo-categories-section ul.products li.product {
    margin-bottom: 0;
}
li.product-category.product {
    text-align: center;
    border: 1px solid #dbdbdb;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    padding: 5px;
    position: relative;
}
li.product-category.product h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0 10px 0;
    font-weight: bold;
}
li.product-category.product .count {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    padding-top: 40%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 100%;
    background-color: transparent;
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
li.product-category.product:hover .count {
    opacity: 1;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    padding: 1em;
}
.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}
/* WooCommerce my account css */
.woocommerce-MyAccount-navigation ul {
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
li.woocommerce-MyAccount-navigation-link {
    padding: 10px 15px;
    border-bottom: 1px solid;
}
li.woocommerce-MyAccount-navigation-link:hover {
    background-color: rgba(169, 169, 169, 0.20);
}
li.woocommerce-MyAccount-navigation-link.is-active {
    background-color: #000;
    color: #ffffff;
}
li.woocommerce-MyAccount-navigation-link.is-active a {
    color: #ffffff;
}

.woocommerce-checkout input,
.woocommerce-checkout label {
    width: initial;
}
.woocommerce form .form-row .input-checkbox {
    position: relative;
}
#checkout label {
    width: inherit;
}
.woocommerce-cart-form input {
    width: inherit;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0;
    margin-right: 15px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
    font-weight: 400;
}
.custom-header {
    margin-bottom: -110px;
    overflow: hidden;
    position: relative;
}
#wp-custom-header {
    height: 1200px;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}
#wp-custom-header img {
    position: absolute;
    height: auto;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    width: auto;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.header-image-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #000;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header-image-text .site-title, .header-image-text .site-title a {
    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 12px #686868;
}
.header-image-text .site-description {
    font-size: 46px;
    line-height: 52px;
    color: #ffffff;
    text-shadow: 0px 0px 8px #686868;
}

/* Highlight menu item */
.highlight-menu-item {
    background-color: #0090ff;
    border-radius: 20px;
    margin-top: 16px;
}
#site-navigation li.highlight-menu-item > a,
#site-navigation.shrink li.highlight-menu-item > a,
.transparent-header #site-navigation .navbar-nav li.highlight-menu-item > a {
    padding: 10px 20px;
    color: #fff;
}
.shrink .highlight-menu-item {
    margin-top: 5px;
}

.quick_easy_booking {
    overflow: auto;
    background-image:url('images/back_quick02.png');
    background-repeat:no-repeat;
    background-position: right; 
    background-color: #ffffff;
}

/* Template Post Tours Styling */
.tour_details {
    padding:0px 2px;
    margin:0px;
}

#accordion table, #accordion td, #accordion tr {
    border:1px solid #cccccc;
    padding:0px 5px;
}

#accordion {
    font-size: .9em;
    margin:0px;
}

#accordion .panel-heading {
padding:2px 10px;
background-color:#00ccff;
margin:5px 0px;
        border-radius:5px;
        -moz-box-shadow: 2px 2px 3px #444;
        -webkit-box-shadow: 2px 2px 3px #444;
        box-shadow: 2px 2px 3px #444;
}

.panel-title {
  font-size:1.2em;
}

.panel-title a{
 color:#ffffff;
}
.panel-title a:hover{
    color:#ff6363;
}

.panel-body ul{

}

/* styling the post images */
.post_image {

}

/* styling the page posts */
.tour_package {
    text-align: center;
    padding:10px;
    border:4px solid #D1F4FF;
    border-radius:10px;

}
.tour_package img {
    margin-top:2px;
}
.tour_package p {
    text-align:center;
    line-height:1;
}
.tour_package:hover{
    z-index:60;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 4px 4px #005fb1;
    -webkit-box-shadow: 0 0 4px 4px #005fb1;
    box-shadow: 0px 0px 4px 4px #005fb1;
}
.tour_package a:hover {
    color:#000000;
}
.tour_package .book_now {
    padding: 5px 0px;
}
.tour_package .book_now a:hover {
    color:#fffc00;
}
.dtitle {
    padding:3px;
    text-align:center;
    min-height:70px;
}
.main-container {
    background-color: #f3fbff;
    padding:2px;
}
.tour_group_title {
    font-size:1.2em;
}
.front_group {
    margin-bottom: 10px;
    overflow:auto;
    padding:10px;
    min-height: 430px;
}


/* ------------- styling the image slider tour_Gallery ----------------- */

   #swap_images {
        text-align:center;
   }

   #swap_images img{
        margin:2px auto;
        display:none;
        padding:4px;
        border-radius: 11px;
        -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
   }
   #swap_images img.active{
        display:block;
        margin:2px auto;
   }
  


   /* styling the post title bars */
   .title_bars {
    background-color:#000000;
    ;padding:13px;
    margin:0px;
    color:#ffffff
   }

   .pages_title_bars {
    background-color:#000000;
    padding:13px;
    color:#ffffff;
   text-align:center;	
   }

/* styling the accordions */ 
#accordion table, #accordion td {
    background-color:#ffffff;
}
#accordion table {
        border-radius: 11px;
        -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
}
#accordion ul {
    list-style-type: circle;
    padding-left:15px;
    margin:0px;
}

/* styling the package caption */
.package-caption {
  border:1px solid #47adcb;
  border-radius:10px;
  padding:15px;
  clear:both;
}
.package-caption p{
  font-size:.8em; 
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  margin:10px 0px;
}
.package-caption h1 {
  color:#ffffff;
  font-size:1.5em;  
  line-height:1em;
  margin:0px;
  padding:10px;
  background-color:#00ccff;
  border:1px solid #00ccff;
  border-radius: 10px;
  text-align:center;
}

/* styling the news and customer section caption */
.news_customer_group {
  border: 1px solid #C2C2C2;
  border-radius:10px;
  background-color:#ffffff;
  padding:15px;
  min-height:380px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  margin:0px;
}
.news_customer_group p, .news_customer_group a{
  line-height: 1.2em;
  text-align:center;
  overflow:auto;
}

.news_customer_group a:link {
    color:black;
}

.news_customer_group a:visited {
    color:black;
}

.news_customer_group a:hover {
    color:#45D0FF;
}

.news_container {
    padding:5px;
}