/*
Theme Name: Core Fitness
Theme URI: 
Author: ThemesGlance
Author URI: https://www.themesglance.com/
Description: Core Fitness is a child theme of The WP Fitness, It's a clean and modern responsive WordPress theme that is constructed specifically for fitness enthusiasts, personal trainers, yoga trainers, weight loss geeks, and gym experts. It’s a multipurpose theme that covers businesses such as health, wellness, aerobics, lifestyle, boxing, sports, workout, muscular, physiotherapy, consultancy, and health clubs. This user-friendly WP Fitness theme has a variety of features and functionalities. The Appointment form section is a well-built functionality that adds ease to the process of making an appointment to your fitness center. It includes excellent options such as WooCommerce integration, social media integration, personalization options, testimonial section, banners with Call to Action Button(CTA), and a lot more. The theme has optimized codes which help in giving faster page load time. This SEO friendly WordPress theme makes your site rise high on search engines. Being a mobile-friendly theme, it offers responsive navigation for providing the beautiful user experience. Get this beautiful, strong and stunning theme now!
Version: 0.2
License: GNU General Public License
License URI: license.txt
Text Domain: core-fitness
Template: the-wp-fitness
Tags: custom-background, custom-menu, custom-colors, custom-logo, editor-style, featured-images, full-width-template, footer-widgets, one-column, sticky-post, two-columns, theme-options, threaded-comments, right-sidebar, left-sidebar, grid-layout, three-columns, blog, e-commerce
*/

/* Header */
#header .header-top{
	background: #000;
}
#header{
    border-bottom: solid 5px #000;
    background: transparent;
}
.page-template-custom-front-page .menu-bg {
    background: #eee;
}
#header .logo a,
#header .logo p,
#header .nav ul li a:hover,
#trainer h3,
.about h3,
#footer h3,
.widget_calendar caption,
h3.widget-title a,
.woocommerce div.product .product_title,
p.woocommerce-result-count,
.blog-sec h3 a,
#sidebar h3,
#sidebar ul li a:hover,
#wrapper h1{
    color: #5fb218;
}
#header .nav ul li a {
    color: #000;
    font-size: 12px;
}
.nivo-directionNav a {
    border-radius: 50% !important;
    border: solid 2px #fff !important;
}
#slider .slide-cap a.read-more {
    background: #5fb218;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Other Css */
hr.titlehr {
    margin: 0;
    border-top: 4px solid #5fb218;
    width: 25%;
}
.about hr.titlehr{
	width: 15%;
}
.about h3 {
    padding: 10px 0;
}
.testbutton a,
.blogbtn a{
	border: solid 2px #5fb218;
    color: #5fb218;
}
.trainerbox h4 {
    margin: 0;
    color: #000;
}
h1.page-title, h1.search-title{
    color: #fff;
    background: #5fb218;
}
.gal-img {
    padding: 0 !important;
}

/* New Arrivals */
#featured-product h3 {
    font-weight: bold;
    font-family: Montserrat;
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    color: #5fb218;
}
#featured-product hr.titlehr{
    width: 10%;
    text-align: center;
    margin: 15px auto;
}
.woocommerce ul.products li.product:hover {
    background: transparent;
}
.woocommerce ul.products li.product:hover h2.woocommerce-loop-product__title, 
.woocommerce ul.products li.product:hover span.woocommerce-Price-amount.amount{
    color: #5fb218;
}
#featured-product .woocommerce ul.products li.product{
    width: 22%;
    margin: 1% 1%;
}
.woocommerce-page ul.products li.product{
    width: 31%;
    margin: 1% 1%;
}
.woocommerce a.button, a.added_to_cart.wc-forward {
    display: block;
}
.woocommerce ul.products li.product .button,
.woocommerce button.button.alt, 
.woocommerce a.button.alt, 
.woocommerce input.button.alt {
    background: #515152;
    color: #fff;
    width: 65%;
    margin: 1em auto;
    border-radius: 30px;
}
h2.woocommerce-loop-product__title,
span.woocommerce-Price-amount.amount{
    font-size: 15px !important;
    color: #525151;
}
.woocommerce span.onsale,
.title-box,
.bradcrumbs a{
    background: #5fb218;
}
.woocommerce ul.products li.product:hover a.added_to_cart{
    background:transparent; 
    display: block;
    position: static;
    top: 0;
    color: #000;
    padding: 0 !important;
    font-size: 18px;
}
.woocommerce-page ul.products li.product:hover a.button {
    font-size: 100%;
    position: static;
    background: #515152;
    color: #fff;
    width: 65%;
    margin: 1em auto !important;
    border-radius: 30px;
    padding: 8px 0 !important;
}
.woocommerce select.orderby{
    border:solid 2px #5fb218;
    color: #5fb218;
}
nav.woocommerce-MyAccount-navigation ul{
    list-style: none;
    margin: 0 !important;
}
nav.woocommerce-MyAccount-navigation ul li {
    background: #5fb218;
    margin-bottom: 8px !important;
    padding: 10px !important;
}
nav.woocommerce-MyAccount-navigation ul li a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Footer */
#footer {
    background: #333;
}
#footer input[type="submit"] {
    float: none;
    background: #5fb218;
    margin: auto;
}
.inner {
    background: #000;
}
.tagcloud a {
    font-size: 15px !important;
    border: solid 1px #fff;
    padding: 10px;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
}
.tagcloud a:hover,
#sidebar input[type="submit"],
#sidebar .tagcloud a:hover,
.trainerbox h4:hover{
    background: #5fb218;
}

/* Latest Post */
.blog-sec,
#search-2,
#sidebar h3,
#wrapper{
    border-top: solid 10px #5fb218 !important;
}
.pagination .current{
    background: #5fb218;
    border: solid 2px #333;
}
.pagination span, .pagination a{
    border: solid 2px #333;
    color: #000;
}
.pagination a:hover,
#comments a.comment-reply-link:hover{
    background: #5fb218;
}
#sidebar form{
    border: solid 2px #5fb218;
}
#comments input[type="submit"].submit,
input[type="submit"]{
     background: #5fb218 !important; 
}