/*
Theme Name: Pet Animal Store
Theme URI: https://www.themescaliber.com/themes/free-animal-pet-wordpress-theme/
Author: ThemesCaliber
Author URI: https://www.themescaliber.com/
Description: A pet WordPress Theme for all the pet shop owners & dealers. This pet WordPress theme is for the people that are engaged in the business of dog grooming, hygiene, dog training, dog wash, puppy grooming, cat grooming, pet training and grooming services and so on. It is a suitable multipurpose WordPress theme for veterinary doctors, pet shops, lovers, horse, equestrian, dog grooming, walking and training websites You can be engaged in any sort of business that’s segmented with pets, the theme will go well for you. It is built on Bootstrap 4 with a well built and structured layout. Its a highly responsive theme with a professional layout and design that is in sync with the meta WordPress versions. You can easily set up a good looking petshop website, store or anything that you wish. It is cross-browser and woocommerce compatible and is user & SEO friendly. We do offer a long list of features with theme exclusive functionalities. Our customer support is best in the business; we will satisfy all your needs and requirements. Your website will work insanely fast, with a gorgeous well-structured layout. The theme has been made with the pet industry in the head and what would appeal to the customers. Your website traffic will improve and the users will stay in for a longer time because of better user experience. A faster, well-built functional website will only improve your business’s performance.Demo : https://www.themescaliber.com/pet-animal-store/ 
Version: 0.2.3
License: GNU General Public License
License URI: license.txt
Text Domain: pet-animal-store
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, threaded-comments, translation-ready, rtl-language-support, blog, e-commerce, portfolio

Pet Animal Store WordPress Theme has been created by ThemesCaliber (ThemesCaliber.com), 2017.
Pet Animal Store WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */
*{
  margin:0;
  padding:0;
  outline:none;
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  font:12px/22px arial;
  color:#5b5b5b;
  font-family:Open sans;
}
img{
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:10px 0;
}
p{
  margin:0 0 15px;
  padding:0;
  font-size:18px;
  line-height:normal;
  font-weight:normal;
}
a{
  text-decoration:none;
  color: #70b908;
}
a:hover{
  text-decoration:none;
  color:#333;
}
a:focus,a:hover{
  text-decoration:none !important;
}
ul{
  margin:0 0 0 15px;
  padding:0;
}

:hover{
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
select{
  width:100%;
}
aside{
  clear:both;
}
.clear{
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  text-align:center;
  margin-bottom:40px;
}
.middle-align{
  margin:0 auto;
  padding:20px 0 20px;
  font-family: Helvetica;
}
.middle-align h1 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.wp-caption{
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
.wp-caption-text{
  margin:0;
  padding:0;
}
.screen-reader-text {
  position: absolute;
  top:-9999em;
  left:-9999em;
}
.post.sticky{
  margin:0;
  padding:0;
  background-color:#d7d7d7;
}
.inner-service{
  background-color: #ffffff;
} 
.tag-sticky-2 .postbox {
  background: transparent;
}
.gallery-caption{
  margin:0;
  padding:0;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right:20px;
  margin-top:4px;
  margin-bottom:10px;
  padding:0;
  border:1px solid #bbb;
  padding:5px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  border:1px solid #bbb;
  padding:5px;
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  border:1px solid #bbb;
  padding:5px;
  margin-bottom:10px;
}
.comment-author{
  clear:both;
}
.comment-list .comment-content ul {
  list-style:none;
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
  margin:0;
  padding:0;
}
small{
  font-size:14px !important;
}
a.small-button{
  background:#3890cb;
  padding:5px 30px;
  border-radius:3px;
  color:#fff;
  display:table;
  margin:0 auto;
}
a.small-button:hover{
  color:#fff;
  background:#0c5f96;
}
input[type="text"],
input[type="email"],
input[type="phno"],
textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px;
}
input[type="submit"]:hover{
  background:#333;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #ffffff;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ---------Buttons--------- */
a.button{
  background:#70b908;
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight:bold;
}

/* ---------HEADER--------- */
.search_form input#woocommerce-product-search-field {
  border: none;
  background: transparent;
  padding: 2px;
}
.search_form button.search-submit {
  border: none;
  background: transparent;
}
.logo h1{
  padding:0;
  margin-bottom:8px;
  font-size:30px;
  font-weight:bold;
  margin-top: 0;
  text-align:left;
}
.logo h1 a,
p.email_title,
p.call_title {
  color: #fff;
}
.logo p{
  font-size:12px;
  color: #fff;
}
.header-slider{
  z-index:999;
  width:100%;
  height:auto;
  margin-top: -10px;
  position: absolute;
}
.topbar {
  background: #333;
  padding: 18px 0;
}
.baricon {
  text-align: center;
  padding: 6px;
  font-family: 'Roboto';
}
.email,.call {
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
}
.email i,.call i {
  margin-right: 6px;
} 
#header i.fa.fa-search {
  color: #70b908;
}
.baricon i {
  color: #fff;
  margin-left: 4%;
  border: 1px solid;
  padding: 10px 11px;
  border-radius: 25px;
}
.baricon i.fab.fa-facebook-f {
  padding: 10px 13px;
}
.baricon i:hover {
  background: #70b908;
  border: #70b908;
}
.baricon.row p {
  text-align: left;
  font-size: 13px;    
}
#header .nav{
  margin:15px 0 10px 0;
  padding:0;
  text-align:center;
}
#header .nav ul {
  margin:0;
  padding:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
}
#header .nav ul li{
  display:inline-block;
  margin:0;
  position:relative;
  float: left;
}
#header .nav ul li a{
  color:#fff;
  padding:10px;
  display:block;
}
#header .nav ul ul {
  margin:5% 0 0 0;
}
.header-no-slider{
  background:#000000;
}

/* product sec */
ul.products li {
  background: #f0f0f0;
  padding: 12px !important;
  text-align: center;
}
.border-image {
  text-align: center;
}
.cat-title {
  text-align: center;
  position: absolute;
  z-index: 999;
  top: 170px;
  margin: 0 auto;
  width: 100%;
}
.cat-title h4 {
  color: #fff;
  font-size: 45px;
}
.cat-title a.r_button {
  padding: .8em 3em;
  color: #fff;
  background: rgba(243, 9, 9, 0.85);
  font-size: 16px;
}
#our-products {
  margin-top: 4%;
  margin-bottom: 4%;
  font-family:'Roboto';
  letter-spacing: 1px;
}
#our-products h3 {
  text-align: center;
  color: #333;
  margin-top: 0;
  font-size: 32px;
  font-weight: normal;
}
#our-products .woocommerce ul.products li.product .price {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  position: absolute;
  top: 25px;
  background: #70b908;
  left: 25px;
  padding: 5px;
}
#our-products .woocommerce .star-rating{
  font-size: 15px !important;
  font-family: star;
  color: #f3de2e !important;
  margin: 10px auto;
}
span.onsale {
  background: #70b908 !important;
  padding: 0px 5px !important;
  font-size: 16px !important;
}
#our-products .woocommerce a.button,
.woocommerce ul.products li.product .button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
  padding: 10px;
  color: #333;
  font-size: 13px;
  border-radius: 0;
  border: solid 2px #333;
  background: transparent;
}
#our-products .woocommerce a.button:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover
button.single_add_to_cart_button.button.alt:hover {
  color: #fff;
  border: none;
  background: #70b908;
}  
h2.woocommerce-loop-product__title {
  font-family: Open sans;
  font-size: 25px !important;
  letter-spacing: 0px;
  text-transform: none;
  color: #333;
  font-weight: normal;
  padding: 5px 0 !important;
}
#header .menubg {
  background: #70b908;
}
#header .searchbg {
  background: #fff;
}
#header .search_form {
  padding: 22px 0;
  background: #fff;
}

/* Woocommerce Product Page */

#primary {
  margin-top: 4em;
}
h1.product_title.entry-title,
#tab-description h2,
#reviews h2 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
p.price {
  margin: 8px 0;
}
span.woocommerce-Price-amount.amount {
  color: #000;
  font-size: 16px;
  margin-right: 5px
}
.woocommerce-product-details__short-description p,
#tab-description p,
#reviews p {
  font-size: 15px;
  color: #333;
  letter-spacing: 1px;
}
.woocommerce .quantity .qty {
  width: 100%;
  text-align: center;
  padding: 7px 0;
  color: #000;
}
button.single_add_to_cart_button.button.alt {
  padding: 12px;
  width: 49%;
}
ins {
  text-decoration: none;
}
.space-top {
  margin-top: 5em;
}
.woocommerce ul.products li.product {
  float: left;
  margin: 0 20px 15px 0;
  padding: 0;
  position: relative;
  width: 30%;
  margin-left: 0;
}
.woocommerce ul.products li.product .price{
  margin: 1em 0;
}
.woocommerce .woocommerce-ordering select {
  border: solid 2px #333;
  padding: 10px;
  background: transparent;
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}
.woocommerce nav ul li{
  float: none;
}
nav.woocommerce-MyAccount-navigation ul li{
  background: #70b908;
  margin-bottom: 5px;
  font-size: 17px;
  padding: 12px 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
nav.woocommerce-MyAccount-navigation ul {
  padding: 0 !important;
  margin: 0;
  list-style: none;
}
/* Headings */
section h2{
  font-weight:bold;
  text-align:center;
  margin:0 0 45px;
  padding:0;
  text-transform:uppercase;
}
section h3{
  font-weight:bold;
  text-align:center;
  margin:30px 0 0 0;
  text-transform:uppercase;
}
section h4{
  color:rgba(243, 9, 9, 0.85);
  font-weight:bold;
  font-size:24px;
}
section h5{
  color:#3890cb;
  font-weight:bold;
  font-size:20px;
  margin:0 0 10px 0;
  padding:0;
}
.text-center{
  text-align: center!important;
}
/* Footer Section */
.footertown input.search-field {
  padding: 8px;
}
.footertown input[type="submit"],
input[type="submit"] {
  border: none;
  padding: 10px 20px;
  background: #70b908;
  display: inline-block;
  color: #fff;
  font-size: 17px;
}
.footertown .tagcloud a,
.footertown .rssSummary,
.footertown span.rss-date,
.footertown cite,
.footertown strong,
.footertown p,
.footertown .widget ul li a,
.footertown td#prev a  {
    color: #fff;
}
.footertown caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.footertown table,.footertown th,.footertown td {
  border: 1px solid #d1d1d1;
  text-align: center;
}
.footertown td {
  padding: 10px;
  color: #fff;
}
.footertown th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.footertown select {
  padding: 10px 5px;
  color: #333;
}
.footertown .widget {
  padding: 10px 0;
}
.footertown .widget ul {
  margin: 0px 0;
}
.footertown .widget ul li {
  list-style: none;
  font-size: 14px;
  font-family: Helvetica;
  padding: 8px 0;
}
.footertown .widget h3 {
  color: #70b908;
  font-weight: bold;
  font-family: Helvetica;
  border-bottom: 3px double;
}
.footertown{
  background:#272727;
}
#footer{
  background:#272727;
  text-align:center;
  color:#fff;
  padding:15px;
  text-align:left;
  font-family:Helvetica;
}
#footer h3{
  text-align:left;
  text-transform:uppercase;
  font-size:24px;
  margin:0 0 24px 0;
  border-bottom:1px solid #70b908;
  padding:0 0 17px 0;
}
#footer p{
  font-size:16px;
  margin: 0;
  color: #fff
}
.text_2 ul{
  list-style: none;
}
#footer ul {
  padding: 0;
  display: inline-block;
  text-align:center;
}
#footer ul li{
  display:inline-block;
  padding:0 10px;
}
#footer ul li a{
  color:#e64f7c;
}
.text_2 ul a,
#footer ul li.current_page_item a {
  color:#fff!important;
}
#footer .news-form{
  margin-top:24px;
}
.footertown  aside.widget.widget_calendar tr, 
.footertown  aside.widget.widget_calendar td, 
.footertown  aside.widget.widget_calendar th{
  border: 1px solid #fff;
  color: #fff;
}
#footer .copyright{
  text-align:center;
  margin:0px 0 0 0;
  color: #fff;
}
#footer .copyright a{
  color:#fff;
}
/* --------- Blog Page ------- */

#theme-main-box {
  padding-top: 6%;
}
.metabox{
  color:#333;
  font-family: Helvetica;
  padding:5px 0;
  clear:both;
  font-size: 15px;
}
.metabox .entry-date{
  padding: 0 0 0 5px;
}
span.entry-date i,
span.entry-author i,
span.entry-comments i {
  margin-right: 1%;
}
.metabox .entry-author{
  padding: 0 0 0 20px;
  margin:0 20px 0 0;
}
.metabox .entry-comments{
  padding: 0 0 0 20px;
}
div#content-aa ul {
  padding: 0 20px;
}

/* Comments BOX */
#comments{
  margin-top:40px;
}
#comments ol{
	list-style:none;
}
#comments ol ol li{
	padding:0 0 0 25px;
}
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit {
  background: #333;
  padding: 20px 60px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 0px;
  border: none;
}
#comments a.comment-reply-link{
  color:#000;
  background:#cecece;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:rgba(243, 9, 9, 0.85);
  color: #fff;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#content-ma #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}
#content-ma #comments ul{
  margin:0 0 0 40px;
}
#comments .reply{
  float:right;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:left;
  margin-left:7%;
}
#comments p {
  width:90%;
  float:left;
}
/* --------- SLIDER--------- */
#slider{
  max-width:100%;
  margin:auto;
  padding:0;
  position:relative;
}
.nivo-caption {
  top:20%!important;
}
#slider .slide-cap{
  position:relative;
  margin:auto;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  top:25%;
}
#slider .slide-cap h4{
  text-transform:uppercase;
  font-size:25px;
  width:30%;
  margin:0 auto;
  background:url('images/welcome.png') center no-repeat;
  background-position: center;
  padding:5px 0;
  font-weight:bold;
}
#slider .slide-cap h2{
  padding:0 25px 5% 0;
  font:700 80px 'Roboto';
  text-transform:uppercase;
  text-align: left;
}
#slider .slide-cap p{
  color:#ffffff;
  font-weight:700;
  margin:0 0 0 0;
  line-height:20px;
  border-radius:0 0 5px 5px;
  font:25px/20px arial;
  text-transform:uppercase;
  font-weight:bold;
}
#slider .slide-cap a.read-more{
  padding:9px 50px;
  color:#ffffff;
  background: #70b908;
  font-size:18px;
  height:auto;
  display:table;
  font-family: Roboto;
}
a.blog-more{
  display:inline-block;
  font:400 16px 'Roboto Condensed', sans-serif;
  padding:10px 30px;
  margin-top:21px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  margin-right:15px;
}
/* Blog Post */
.services-box {
  font-family: Montserrat;
  border: 4px double #70b908;
  padding: 15px;
  margin-bottom: 25px;
}
.service-image img{
  width: 100%;
}
.service-image {
  margin-bottom: 10px;
}
.services-box h2 a{
  color: #70b908;
}
.services-box p  {
  color: #6f6e6e;
  font-size: 15px;  
}
.services-box h2 {
  text-align: left;
  font-size: 25px;
  margin: 0;
}
.service-btn a {
  border: solid 2px #70b908;
  padding: 7px 15px;
  color: #70b908;
  font-size: 15px;
}
.service-btn a:hover {
  background: #333;
  color: #fff;
  border: solid 2px #333;
}
/* Sidebar */
#sidebar .tagcloud a,
#sidebar .rssSummary,
#sidebar span.rss-date,
#sidebar cite,
#sidebar strong,
#sidebar p {
  color: #000;
}
#sidebar td#prev a {
  color: #70b908;
}
#sidebar .textwidget {
  padding: 10px;
}
#sidebar caption {
  font-weight: bold;
  color: #70b908;
  font-size: 20px;
  text-align: center;
}
#sidebar table{
 width: 100%;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #70b908;
  text-align: center;
}
#sidebar td {
  padding: 9px;
  color: #70b908;
}
#sidebar th {
  text-align: center;
  padding: 10px;
  color: #70b908;
}
#sidebar select {
  padding: 8px 5px;
}
#sidebar{
  font-family:Helvetica;
  margin-top: 3%;
}  
#sidebar form{
  display: table;
  width: 100%;
}  
#sidebar h3 {
  margin: 0 0 15px;
  padding: 0;
  text-transform: none;
  font-weight: 600;
  font-size: 25px;
  font-family: Montserrat;
  background: #70b908;
  padding: 15px;
  text-align: left;
  color: #fff;
}
#sidebar input[type="search"],
input.search-field {
  background:#eeeeee;
  padding:12px 10px;
  border:none;
  font-size:15px;
  color:#000;width:97%;
}  
#sidebar label{
  width:70%;
  float:left;
  margin-bottom: 0;
}  
#sidebar input[type="submit"]{
  background:#70b908;
  border:none;
  color:#fff;
  padding:12px 0;
  width:30%;
  font-size:14px;
  float:left;
  margin:0
}
#sidebar aside {
  border-bottom: 2px dotted #000;
  margin-bottom: 30px;
  border: double 4px #70b908;
}
#sidebar ul {
  list-style:none;
  margin:0;
  padding:0;
  font-size:17px;
}  
#sidebar ul li {
  background: url(images/pet-line.png) no-repeat 1px 0px;
  margin: 0 5px 20px 5px;
  padding: 0 20px 5px 35px;
}
#sidebar ul li a{
  color:#000;
}
#sidebar .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block
}
#sidebar .tagcloud a:hover{
  background:#70b908;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}
/* Page */

h1.entry-title{
  color: #000;
  font-size:35px;
  font-weight: bold;
}
#content-ma p{
  text-align:justify;
  line-height: 25px;
  font-size: 16px;
  margin:0 0 20px 0;
}
#content-ma hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:35px 0;
  clear:both;
}
#content-ma h1{
  font-size:52px;
}
#content-ma h2{
  font-size:44px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
  font-family:Roboto;
}
#content-ma h3{
  font-size:38px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
  font-family:Roboto;
}
#content-ma h4{
  font-size:35px;
  font-weight:bold;
  margin:0;
  padding:0;
  color:#333;
  margin:0 0 25px;
  font-family:Roboto;
}
#content-ma h5{
  margin:0 0 15px;
  font-size:33px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}
#content-ma h6{
  margin:0 0 15px;
  font-size:29px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}
#content-ma ul{
  list-style:none;
  margin:0 0 0 10px;
  padding:10px 0 0;
  font-size:16px;
}
#content-ma ul li{
  background:url('images/bullet-circle.png') no-repeat scroll 0 5px;
  padding:0 0 0 35px;
  margin:0 0 20px 0;
  line-height:25px;
}
#content-ma ul li ul li{
  background:url('images/bullet-circle.png') no-repeat scroll 0 5px;
}
#content-ma ul li ul li ul li{
  width:50%;
}
#content-ma ol{
  list-style: none;
  margin:0 0 0 15px;
  padding:10px 0 0 0;
  font-size:16px;
  counter-reset: myCounter;
}
#content-ma ol li ol li{
  margin:0 0 20px 0;
  padding:0 0 0 35px;
}
#content-ma ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: #fff;
  background: #0c1f34;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-weight:bold;
}
.read-moresec{
  margin:2% 0;
}

/* Pagination */
.pagination,
.page-links {
  clear:both;
  position:relative;
  font-size:14px; /* Pagination text size */
  line-height:13px;
  float:right; /* Pagination float direction */
  font-weight:bold;width:100%;
} 
.pagination span,
.pagination a {
  display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff; /* Pagination text color */
  background: #333; /* Pagination non-active background color */
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.page-links span{
  display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff; /* Pagination text color */
  background: #333 ; /* Pagination non-active background color */
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover,
.page-links a:hover {
  color:#fff;
  background: #70b908; /* Pagination background on hover */
} 
.pagination .current,
.page-links .current{
  padding:10px 15px;
  background: #70b908; /* Current page background */
  color:#fff;
  font-weight:normal;
}
#content-ma .pagination ul{
  margin:0;
  clear:both;
}
#content-ma .pagination ul li{
  margin:0;
}
#content-ma  h5{
  margin:0 0 15px;
  font-size:33px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}
/* Media */
@media screen and (max-width:720px) {
  .header-slider{
    position: relative;
    margin-top: 0; 
  }
  .baricon{
    margin-left: 0;
  }
  .side_search input[type="search"]{
    width:77%;
  }
  .cat-title{
    top: 45px !important;
  }
  .woocommerce[class*=columns-] ul.products li.product{
    width: 100%;
  }
  ol.children {
    margin: 0 !important;
  }
  ol.children img {
    width: 30px;
    border: solid 1px;
  }
  #comments ol ol li {
    padding: 0px !important;
  }
  .comment-author img {
    border: solid 1px;
  }
  #comments .reply {
    float: left;
  }
  #comments input[type="submit"].submit {
    width: 100%;
  }
  #header .logo h1,
  #header .logo p {
    text-align: center;
  }
  .toggle{
    display:block;
  }
  .toggle a{
    width:100%;
    color:#ffffff;
    background:url('images/mobile_nav_right.png') no-repeat right center #333;
    padding:10px 10px;
    font-size:16px;
    border-bottom: solid 1px #ccc;
  }
  .nav{
    display:none;
  }
  #header .nav{
    float:none;
    margin:0;
    position:absolute;
    z-index:9999;
    overflow-x:hidden;
    top:-256px;
    width:100%;
  }
  #header .nav ul{
    width:100%;
    float:none !important;
    margin-top:0;
    background-color:#222222;
  }
  #header .nav ul li{
    border-top:1px #303030 solid;
    display:block;
    float:none;
    text-align:left;
  }
  .nav ul li a{
    padding:5px 10px;
    display:block;
    color:#ffffff !important;
  }
  .nav ul li a:hover{
    color:#ff8a00;
  }
  .nav ul li ul, .nav ul li ul ul{
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }
}
@media screen and (min-width:720px){
  #header .nav ul li ul{
    display:none;
    z-index:2;
    font-weight:normal;
  }
  #header .nav ul li:hover > ul{
    display:inline-grid;
    background:#70b908;
    width:200px;
    position:absolute;
    top:30px;
    left:0;
    text-align:left;
    padding:10px 0;
    z-index:99;
  }
  #header .nav ul li:hover > ul li{
    display:block;
  }
  #header .nav ul li:hover > ul li a{
    padding:7px 0px 7px 10px;
    color:#ffffff;
  }
  #header .nav ul li:hover ul li ul{
    display:none;
  }
  #header .nav ul li:hover ul li:hover > ul{
    display:block;
    position:absolute;
    left:200px;
    top:-20px;
  }
  #header .nav ul.sub-menu{
    margin-top:10px;
  }
  #header .nav ul.sub-menu li a:hover{
    background:#333;
    color:#fff;
  }  
  #header .nav ul li a {
    color: #fff;
    padding: 10px;
    display: block;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1000px) {
  #header #header-inner .nav ul li ul li{
    display:block;
    position:relative;
    float:none;
  }
  #header #header-inner .nav ul li ul li a{
    color:#000;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px #313131 solid;
  }
  input#woocommerce-product-search-field {
    width: 85%;
  }
}
@media screen and (max-width: 991px){
  input#woocommerce-product-search-field {
    width: 85%;
  }
  .theme-main-box .box-image {
    margin: 0 0 25px 0;
    position: absolute;width: 100%;bottom: 21em;
    left: 0;right: 0;
  }
  #theme-main-box .page-box{
    margin-bottom: 18%;
  }
   #header .nav ul li a{
    font-size: 15px;
  }
   .fonts {
    margin-bottom: 5%;
  }
}
@media print {

  /* Hide elements */

  form,
  button,
  input,
  select,
  textarea,
  .navigation-top,
  .social-navigation,
  #secondary, 
  .content-bottom-widgets,
  .header-image,
  .panel-image-prop,
  .icon-thumb-tack,
  .page-links,
  .edit-link,
  .post-navigation,
  .pagination.navigation,
  .comments-pagination,
  .comment-respond,
  .comment-edit-link,
  .comment-reply-link,
  .comment-metadata .edit-link,
  .pingback .edit-link,
  .site-footer aside.widget-area,
  .site-info,
  #sidebar,
  #header .nav{
    display: none !important;
  }

  .entry-footer,
  #comments,
  .site-footer,
  .single-featured-image-header {
    border: 0;
  }

  /* Font sizes */

  body {
    font-size: 12pt;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 17pt;
  }

  h4 {
    font-size: 12pt;
  }

  h5 {
    font-size: 11pt;
  }

  h6 {
    font-size: 12pt;
  }
  /* Layout */

  .wrap {
    padding-left: 5% !important;
    padding-right: 5% !important;
    max-width: none;
  }

  /* Site Branding */

  .site-header {
    background: transparent;
    padding: 0;
  }

  .custom-header-media {
    padding: 0;
  }
  .site-branding {
    margin-top: 0;
    margin-bottom: 1.75em !important; /* override styles added by JavaScript */
  }

  .site-title {
    font-size: 25pt;
  }

  .site-description {
    font-size: 12pt;
    opacity: 1;
  }

  /* Posts */

  .single-featured-image-header {
    background: transparent;
  }

  .entry-meta {
    font-size: 9pt;
  }

  /* Colors */

  body,
  .site {
    background: none !important; /* Brute force since user agents all print differently. */
  }

  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    font-size: 11pt;
    width: 34%;
  }

  .site-footer {
    padding: 0;
  }
}